{% extends 'base.html' %}

{% load bootstrap_tags %}


{% block content %}

<br>
<p>Don't have an account yet? Register <a href="{% url 'register' %}">here</a></p>
<br>

<form method="POST">
    
    <legend>Login to your account</legend>
    
    {% csrf_token %}
    {{ login_form|as_bootstrap }}
    
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    
</form>

<br>
<p>Forgot your password? Reset it <a href="{% url 'password_reset' %}">here</a></p>

{% endblock %}