
/* ----------  Issues  ---------- */
/* Colors */
.badge-lightblue {
    background-color: #5bc0de;
}
.badge-green {
    background-color: #5cb85c;
}
.badge-orange {
    background-color: #f0ad4e;
}
/* Margins, positioning */
.badge.badge-no-float {
    float: none;
}
.list-group-item {
    margin-bottom: 20px;
}
.image-to-zoom {
    width: 200px;
    cursor: pointer;
}

.voting-form {
    display: inline-block;
}

.upvote-img {
    margin-left: 15px;
}

/* ----------  General  ---------- */
.align-center {
    text-align: center;
}