
/* ----------  Issues  ---------- */
/* Colors */
.badge-lightblue {
    background-color: #5bc0de;
}
.badge-green {
    background-color: #5cb85c;
}
.badge-orange {
    background-color: #f0ad4e;
}
/* Margins, positioning */
.list-group-item {
    margin-bottom: 20px;
}
.image-to-zoom {
    width: 200px;
    cursor: pointer;
}

.voting-form {
    display: inline-block;
}

.upvote-img {
    margin-left: 15px;
}

/* ----------  Forms  ---------- */

.form-control-amount {
    height: 30px;
}

.btn-remove {
    margin-left: 100px;
}

/* ----------  General  ---------- */
.align-center {
    text-align: center;
}

/* ----------  Footer  ---------- */
.navbar-fixed-bottom {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}
