{% extends 'base.html' %}

{% block content %}


<div class="list-group">

    {% for ticket in tickets %}
        
    <a href="{% url 'ticket_details' ticket.id %}" class="list-group-item">
        
        {% if ticket.ticket_type == 'BUG' %}
            <span class="label label-danger">{{ ticket.ticket_type }}</span>
        {% else %}
            <span class="label label-primary">{{ ticket.ticket_type }}</span>
        {% endif %}
        
        <span class="badge">{{ ticket.vote_score }} <span class="glyphicon glyphicon-arrow-up"></span></span>
        
        {% if ticket.status == 'DOING' %}
            <span class="badge badge-lightblue">{{ ticket.status }}</span>
        {% elif ticket.status == 'DONE' %}
        <span class="badge badge-green">{{ ticket.status }}</span>
        {% else %}
            <span class="badge badge-orange">{{ ticket.status }}</span>
        {% endif %}
        
        &nbsp;{{ ticket.title }}&nbsp;
    </a>
    
    {% endfor %}

</div>



{% endblock %}