{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<!-- Ticket detailed info -->
<div class="container">
    <h4>
    {% if ticket.ticket_type == 'BUG' %}
        <span class="label label-danger">{{ ticket.ticket_type }}</span>
    {% else %}
        <span class="label label-primary">{{ ticket.ticket_type }}</span>
    {% endif %}
    &nbsp;
    {% if ticket.status == 'DOING' %}
        <span class="label label-info">Status: {{ ticket.status }}</span>
    {% elif ticket.status == 'DONE' %}
        <span class="label label-success">Status: {{ ticket.status }}</span>
    {% else %}
        <span class="label label-warning">Status: {{ ticket.status }}</span>
    {% endif %}
    &nbsp;
    <span class="label label-default">Votes: {{ votes }}</span>
    {% if ticket.ticket_type == 'NEW FEATURE' %}
    <span class="label label-info">Payments: {{ ticket.payments }} €</span>
    {% endif %}
    </h4>
    
    <h3>{{ ticket.title }}
        <form method="POST" action="" class="voting-form">
            {% csrf_token %}
            <input type="image" src="{% static 'img/liked.png' %}" name="upvote" value="Upvote" class="upvote-img" title="Upvote" alt="Upvote" >
        </form>
    </h3>
    
    
    <br>
    <p>{{ ticket.description }}</p>
    <br>
    
    {% if ticket.image %}
    <div class="issue-img">
        <img src="{{ MEDIA_URL }}{{ ticket.image }}" class="image-to-zoom">
    </div>
    {% endif %}
    
    <br>

    <p><b>Tags: </b>{{ ticket.tags }}</p>
    <p><i>Ticket submitted by {{ ticket.author }} on {{ ticket.created_date|date:"M d 'y, G:i" }}</i></p>

</div>
<br>

<!-- Ticket comments section -->
<div class="container">
    <h4><u>Comments</u></h4>
    <hr>
    {% for comment in comments %}
        
        <p>{{ comment.comment }}</p>
        <small>{{ comment.author }} - {{ comment.comment_date|date:"M d 'y, G:i" }}</small>
        <hr>
    {% endfor %}
</div>

{% if user.is_authenticated %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ comment_form|as_bootstrap_inline }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" name="submit" >
        </div>
    </form>   
</div>
{% else %}
<i><a href="{% url 'login' %}">Sign in</a> to add a comment</i>
{% endif %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Resize image on click with animation
        $('.image-to-zoom').on('click', function() {
            if ($(this).width() === 200) {
                $(this).animate({
                    width: "100%",
                    maxWidth: "90vw"
                }, 700);
            } else {
                $(this).animate({
                    width: "200px",
                }, 700);
            }
        });
    });
</script>


{% endblock %}